useDynLib("scorr")

export(
  "scorr",
  "scorr.highlight.index",
  "scorr.highlight.name",
  "scorr.get.size",
  "scorr.get.selected",
  "scorr.get.density",
  "scorr.get.corr",
  "scorr.get.acorr",
  "scorr.get.cor",
  "scorr.get.acor",
  "scorr.get.name",
  "scorr.set.primary",
  "scorr.set.secondary",
  "scorr.close",
  "scorr.plot"
)
